<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
  <link rel="icon" href="../static/images/newohana.PNG" type="image/png">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/sidebar.css">
  <link rel="stylesheet" href="../static/css/contact.cs">
  <script src="https://kit.fontawesome.com/3259a3ed9a.js" crossorigin="anonymous"></script>
  <link href="https://your-font-service.com/fonts/css/style.css" rel="stylesheet">

  <style>

  </style>
</head>
<body>
{% if is_logged_in %}
	{% include "navigationloggedin.html" %}
    {% include "sidebar.html" %}
{% else %}
	{% include "navigationloggedout.html" %}

{% endif %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-info flash-message-container shadow-lg rounded" role="alert">
      <ul class="list-unstyled flash-message-list">
        {% for message in messages %}
          <li class="flash-message-item">message </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}
<div class="col-lg-12">
          <div class="card mt-4 border-0 mb-4">
            <div class="row">
              <div class="col-lg-4 col-md-4">
                <div class="card-body d-flex align-items-center c-detail pl-0">

                  <div class="">
                    <h6 class="font-weight-medium">Address</h6>
                    <p class="">Ethiopia
                      <br> Addis Ababa</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="card-body d-flex align-items-center c-detail">
                  <div class="mr-3 align-self-center">
                    <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon2.png">
                  </div>
                  <div class="">
                    <h6 class="font-weight-medium">Phone</h6>
                    <a href="tel:+1234567890" class="phone-link" style="display:block;">Click to Call: +1 234-567-890</a>
                    <a href="tel:+1234567890" class="phone-link">Click to Call: +1 234-567-890</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="card-body d-flex align-items-center c-detail">
                  <div class="mr-3 align-self-center">
                    <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon3.png">
                  </div>
                  <div class="">
                    <h6 class="font-weight-medium">Email</h6>
                    <p class="">
                      www.SECollab@gmail.com

                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="contact3 py-5">
  <div class="row no-gutters">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-7">
          <div class="contact-box ml-3">
            <h1 class="font-weight-light mt-2">Quick Contact</h1>
            <form class="mt-4" method="post" action="/contact">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group mt-2">
                    <input class="form-control" type="text" placeholder="name"  name="name" required>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group mt-2">
                    <input class="form-control" type="email" placeholder="email address" name="email" required>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group mt-2">
                    <input class="form-control" type="text" placeholder="phone" name="phone" required>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group mt-2">
                    <textarea class="form-control" rows="3" placeholder="message" name="message" required></textarea>
                  </div>
                </div>
                <div class="col-lg-12">
                  <button type="submit" class="btn btn-danger-gradiant mt-3 border-0 px-3 py-2"><span> SEND</span></button>
                </div>
              </div>
            </form>
          </div>
        </div>

</div>
      <a href="https://www.tiktok.com/SEcollab" style="position: fixed; top: 30%; right: 20px;"><img src="../static/images/tittok.png" style="width: 40px; height: 40px;border-radius: 50%;" alt="Twitter"></a>

       <a href="https://www.instagram.com/SEcollab" style="position: fixed; top: 39%; right: 20px;"><img src="../static/images/instagram.jpg" style="width: 40px; height: 40px;border-radius: 50%;" alt="Instagram"></a>
  <a href="https://www.linkedin.com/SEcollab" style="position: fixed; top: 47%; right: 20px;"><img src="../static/images/facebook.png" style="width: 40px; height: 40px;" alt="LinkedIn"></a>
 <a href="https://www.linkedin.com/SEcollab" style="position: fixed; top: 55%; right: 20px;"><img src="../static/images/youtube.png" style="width: 40px; height: 40px; border-radius: 50%;" alt="LinkedIn"></a>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

  <!-- Optional JavaScript dependencies -->
</body>
</html>