<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My project</title>
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/interestinmyproject.css">
</head>
<body>
{% include "navigationloggedout.html" %}
{% include "sidebar.html" %}

<div class="container">
    <div class="project-details">
        <h2>{{ project.name }}</h2>
        <p>{{ project.description }}</p>
        <p>Due Date: {{ project.due_date }}</p>
    </div>

   <div class="interests">
                <h3>Interests</h3>
                <div class="row">
                    {% for interest in interests %}
                    <div class="col-md-3 mb-3">
                        <div class="card">
                            <img src="../{{ interest.user.profile_photo }}" class="card-img-top" alt="Profile Image">
                            <div class="card-body">
                                <h5 class="card-title">{{ interest.user.fname }} {{ interest.user.lname }}</h5>
                                <a href="{{ url_for('profile', id=interest.user.id) }}" class="btn btn-primary">View Profile</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>
