<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="icon" href="../static/images/newohana.PNG" type="image/png">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/login.css" >
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SEcollab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('explore') }}">Explore</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('contact') }}">Contact Us</a></li>
            <li><a class="dropdown-item" href="{{ url_for('about') }}">About Us</a></li>

          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('allcollbration') }}">All Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('allblogs') }}">All Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
      </ul>


    </div>
  </div>
</nav>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-info flash-message-container shadow-lg rounded" role="alert">
      <ul class="list-unstyled flash-message-list">
        {% for message in messages %}
          <li class="flash-message-item">{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}
 <div class="login-container">
        <h1>Login to SEcollab</h1>
        <form action="/login" method="post">
            <label for="username">Email:</label>
            <input type="text" id="username" name="email" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <button type="submit">Login</button>
        </form>
        <p>Forget your password? <a href="{{ url_for('forgetpassword') }}">Register</a></p>
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Register</a></p>
    </div>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<footer class="bg-dark text-light text-center py-3">
    <p>&copy;  name. All rights reserved.</p>
  </footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>